In [1]:

%pprint
import sys
sys.path.insert(1, '../py')

Pretty printing has been turned OFF

In [2]:

from FRVRS import nu
from scrape_utils import WebScrapingUtilities
from pandas import DataFrame
import os
import os.path as osp
import random
import re
import logging

wsu = WebScrapingUtilities(
    s=nu,
    secrets_json_path=osp.abspath(osp.join(nu.data_folder, 'secrets', 'itm_secrets.json'))
)


# Parse Domain Documents for Entities

Downloaded all documents from https://nextcentury.atlassian.net/wiki/spaces/ITMC/pages/2991849482/Domain+Documents and converted them all to PDF files and stored them in the data folder.

In [3]:

logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

pdf_folder = '../data/Domain_Knowledge'
black_list = ['.ipynb_checkpoints', '$Recycle.Bin', '.git']

In [ ]:

# Display all the files we ingested
for sub_directory, directories_list, files_list in os.walk(pdf_folder):
    if all(map(lambda x: x not in sub_directory, black_list)):
        if any(map(lambda x: x.endswith('.txt'), files_list)):
            for file_name in files_list:
                if file_name.endswith('.txt'):
                    file_path = osp.join(sub_directory, file_name)
                    print(file_path.replace('../data/Domain_Knowledge/', ''))
        else:
            for file_name in files_list:
                if file_name.endswith('.pdf'):
                    file_path = osp.join(sub_directory, file_name)
                    print(file_path.replace('../data/Domain_Knowledge/', ''))


## Option 1: Use a Hugging Face NER model

In [4]:

from transformers import pipeline, AutoModelForTokenClassification, AutoTokenizer

# Named entity recognition pipeline, passing in a specific model and tokenizer
model = AutoModelForTokenClassification.from_pretrained('dbmdz/bert-large-cased-finetuned-conll03-english')
tokenizer = AutoTokenizer.from_pretrained('bert-base-cased')
token_classifier = pipeline('ner', model=model, tokenizer=tokenizer)

# Example usage
sentence = 'Barack Obama was the 44th President of the United States.'
tokens = token_classifier(sentence)
print(tokens)

Some weights of the model checkpoint at dbmdz/bert-large-cased-finetuned-conll03-english were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

[{'entity': 'I-PER', 'score': 0.9988381, 'index': 1, 'word': 'Barack', 'start': 0, 'end': 6}, {'entity': 'I-PER', 'score': 0.9994398, 'index': 2, 'word': 'Obama', 'start': 7, 'end': 12}, {'entity': 'I-LOC', 'score': 0.9983613, 'index': 10, 'word': 'United', 'start': 43, 'end': 49}, {'entity': 'I-LOC', 'score': 0.9920671, 'index': 11, 'word': 'States', 'start': 50, 'end': 56}]


## Option 2: Use SpaCy

In [5]:

import spacy

# Load the spaCy model
try: nlp = spacy.load('en_core_web_sm')
except OSError as e:
    print(str(e).strip())
    command_str = f'{sys.executable} -m spacy download en_core_web_sm --quiet'
    print(command_str)
    !{command_str}
    nlp = spacy.load('en_core_web_sm')
import en_core_web_sm
nlp = en_core_web_sm.load()

# Example usage
sentence = 'Barack Obama was the 44th President of the United States.'
doc = nlp(sentence)
print([{'text': word.text, 'tag_': word.tag_, 'ent_type_': word.ent_type_, 'pos_': word.pos_} for word in doc])
print([{'text': ent.text, 'label_': ent.label_} for ent in doc.ents])

[{'text': 'Barack', 'tag_': 'NNP', 'ent_type_': 'PERSON', 'pos_': 'PROPN'}, {'text': 'Obama', 'tag_': 'NNP', 'ent_type_': 'PERSON', 'pos_': 'PROPN'}, {'text': 'was', 'tag_': 'VBD', 'ent_type_': '', 'pos_': 'AUX'}, {'text': 'the', 'tag_': 'DT', 'ent_type_': '', 'pos_': 'DET'}, {'text': '44th', 'tag_': 'JJ', 'ent_type_': 'ORDINAL', 'pos_': 'ADJ'}, {'text': 'President', 'tag_': 'NNP', 'ent_type_': '', 'pos_': 'PROPN'}, {'text': 'of', 'tag_': 'IN', 'ent_type_': '', 'pos_': 'ADP'}, {'text': 'the', 'tag_': 'DT', 'ent_type_': 'GPE', 'pos_': 'DET'}, {'text': 'United', 'tag_': 'NNP', 'ent_type_': 'GPE', 'pos_': 'PROPN'}, {'text': 'States', 'tag_': 'NNP', 'ent_type_': 'GPE', 'pos_': 'PROPN'}, {'text': '.', 'tag_': '.', 'ent_type_': '', 'pos_': 'PUNCT'}]
[{'text': 'Barack Obama', 'label_': 'PERSON'}, {'text': '44th', 'label_': 'ORDINAL'}, {'text': 'the United States', 'label_': 'GPE'}]


## Extract the text from PDFs and load it into documents

In [10]:

# Get text from PDFs
if nu.pickle_exists('domain_knowledge_sentences_dict'):
    domain_knowledge_sentences_dict = nu.load_object('domain_knowledge_sentences_dict')
else:
    from PyPDF2 import PdfReader
    def convert(file_path, verbose=False):
        """
        Convert PDF, return its text content as a string
        """
        text = ''
        with open(file_path, 'rb') as file:
            pdf_reader = PdfReader(file)
            for page_number in range(len(pdf_reader.pages)):
                page = pdf_reader.pages[page_number]
                text += page.extract_text()
        if verbose: print(f'Text length for {file_path} is {len(text):,} characters.')

        return text
    domain_knowledge_sentences_dict = {}
    for sub_directory, directories_list, files_list in os.walk(pdf_folder):
        if all(map(lambda x: x not in sub_directory, black_list)):
            if any(map(lambda x: x.endswith('.txt'), files_list)):
                for file_name in files_list:
                    if file_name.endswith('.txt'):
                        file_path = osp.join(sub_directory, file_name)
                        with open(file_path, 'r', encoding=nu.encoding_type) as f:
                            text = f.read()
                            domain_knowledge_sentences_dict[file_path] = text
            else:
                for file_name in files_list:
                    if file_name.endswith('.pdf'):
                        file_path = osp.join(sub_directory, file_name)
                        text = convert(file_path, verbose=True)
                        domain_knowledge_sentences_dict[file_path] = text
    nu.store_objects(domain_knowledge_sentences_dict=domain_knowledge_sentences_dict)

Pickling to /mnt/c/Users/DaveBabbitt/Documents/GitHub/itm-analysis-reporting/saves/pkl/domain_knowledge_sentences_dict.pkl

In [11]:

# Assert that you got all the hyphenated word wrappings out
for file_path, text in domain_knowledge_sentences_dict.items():
    assert not ('effec-' in text), f'{file_path} still has hyphenated word wrappings.'

In [21]:

import pandas as pd

# load documents
if nu.csv_exists('domain_doc_ners_df'): domain_doc_ners_df = nu.load_data_frames(domain_doc_ners_df='domain_doc_ners_df')['domain_doc_ners_df']
else:
    entities = []
    for file_path, text in domain_knowledge_sentences_dict.items():
        text_length = len(text)
        # print(f'Text length for {file_path} is {text_length:,} characters.')
        
        # Prepare to join subword tokens back together and keep track of entity and score
        output_words = []
        current_word = ''
        current_entities = []
        current_scores = []
        current_starts = []
        current_ends = []
        
        # Extract metadata from entity recognition pipeline and add it as a row dictionary to the entities rows list
        tokens = token_classifier(text)
        for metadata_dict in tokens:
            current_entities.append(metadata_dict['entity'])
            current_scores.append(metadata_dict['score'])
            current_starts.append(metadata_dict['start'])
            current_ends.append(metadata_dict['end'])
            if metadata_dict['word'].startswith('##'): current_word += metadata_dict['word'][2:]
            else:
                
                # Take the mode of entities and average of scores for the current_word
                if current_word:
                    if len(current_entities) > 1: current_entities = current_entities[:-1]
                    if len(current_scores) > 1: current_scores = current_scores[:-1]
                    if len(current_ends) > 2: current_ends = current_ends[:-1]
                    mode_entity = pd.Series(current_entities).mode().tolist()[-1]
                    mean_score = pd.Series(current_scores).mean()
                    start_idx = current_starts[0]
                    end_idx = current_ends[-1]
                    entity_tuple = (current_word, mode_entity, mean_score, start_idx, end_idx)
                    output_words.append(entity_tuple)
                    current_word = ''
                    current_entities = []
                    current_scores = []
                    current_starts = []
                    current_ends = []
                else:
                    current_word = metadata_dict['word']
                    current_entities = [metadata_dict['entity']]
                    current_scores = [metadata_dict['score']]
                    current_starts = [metadata_dict['start']]
                    current_ends = [metadata_dict['end']]
        
        # Take the mode of entities for the last current_word
        if current_word:
            mode_entity = pd.Series(current_entities).mode().tolist()[-1]
            mean_score = pd.Series(current_scores).mean()
            start_idx = current_starts[0]
            end_idx = current_ends[-1]
            entity_tuple = (current_word, mode_entity, mean_score, start_idx, end_idx)
            output_words.append(entity_tuple)
        
        for word, entity, score, start, end in output_words:
            metadata_dict = {'bert_word': word, 'bert_entity': entity, 'bert_score': score, 'bert_start': start, 'bert_end': end, 'file_path': file_path}
            entities.append(metadata_dict)

        # Extract SpaCy named entities and add them as a row dictionary to the entities rows list
        if text_length <= nlp.max_length:
            doc = nlp(text)
            entities.extend([
                {'file_path': file_path, 'nlp_word': word.text, 'nlp_tag': word.tag_, 'nlp_type': word.ent_type_, 'nlp_pofs': word.pos_}
                for word in doc
            ])
            entities.extend([
                {'file_path': file_path, 'ent_phrase': ent.text, 'ent_type': ent.label_, 'ent_start': ent.start_char, 'ent_end': ent.end_char}
                for ent in doc.ents
            ])
    domain_doc_ners_df = DataFrame(entities)
    nu.save_data_frames(domain_doc_ners_df=domain_doc_ners_df)

Saving to /mnt/c/Users/DaveBabbitt/Documents/GitHub/itm-analysis-reporting/saves/csv/domain_doc_ners_df.csv

In [23]:

# Assert that all the subword tokens are gone
print(domain_doc_ners_df.columns.tolist())
mask_series = domain_doc_ners_df.bert_word.map(lambda x: str(x).startswith('##'))
df = domain_doc_ners_df[mask_series]
assert (df.shape[0] == 0), 'There still exist subword tokens.'

['bert_word', 'bert_entity', 'bert_score', 'bert_start', 'bert_end', 'file_path', 'nlp_word', 'nlp_tag', 'nlp_type', 'nlp_pofs', 'ent_phrase', 'ent_type', 'ent_start', 'ent_end']

In [24]:

# Check that you indeed have only strings among the BERT entities
mask_series = domain_doc_ners_df.bert_entity.isnull()
sorted(domain_doc_ners_df[~mask_series].bert_entity.tolist(), key=lambda x: len(str(x)), reverse=True)[:10]

['I-MISC', 'I-MISC', 'I-MISC', 'I-MISC', 'I-MISC', 'I-MISC', 'I-MISC', 'I-MISC', 'I-MISC', 'I-MISC']


## Explore the entity type columns

In [15]:

words_list = sorted([str(w) for w in domain_doc_ners_df.ent_type.unique()])
words_list = random.sample(words_list, min(len(words_list), 20))
print(words_list)
mask_series = domain_doc_ners_df.ent_type.isin(words_list)
for type, type_df in domain_doc_ners_df[mask_series].groupby('ent_type'):
    mask_series = type_df.ent_phrase.isnull()
    texts_list = sorted(type_df[~mask_series].ent_phrase.unique())
    print()
    print(type, random.sample(texts_list, min(len(texts_list), 20)))

['PERSON', 'QUANTITY', 'ORG', 'EVENT', 'GPE', 'NORP', 'ORDINAL', 'PRODUCT', 'TIME', 'PERCENT', 'CARDINAL', 'LOC', 'DATE', 'MONEY', 'FAC', 'LAW', 'LANGUAGE', 'WORK_OF_ART', 'nan']

CARDINAL ['2015;180(11):1178–1183', '446,484', '22,28,41', '4-6', '700', '2M/', '362', '825', '3000', '905', '4,500', '1–3', '1981–1982', '2006;171(9):826', '3–48', '1-95', '3–8', '2d 553', '284', '9–22']

DATE ['1-7', 'the second half of the 20th century', '15 September 1983', 'August 1862', 'the next \nhour', '62', 'May 29–June 1, 1996', 'April 24, 1863', 'May 12, 2018', 'Nurs Adm. 1995;25:60–62', 'a single day', '78234', '15 December 1996', 'the end of the sixteenth\ncentury', 'as many years', 'fourteen days', '7-8)', 'the seventies', '5525', '1994 to 1995']

EVENT ['the Civil War Doctor Who Pioneered Battlefield Care', 'Operation Iraqi Freedom/Operation Enduring Freedom\nWW', 'Total War', 'the Military\nChapter 38', 'The Gulf War', 'World War I:', 'Nazi War on Cancer', 'Revolution', 'Gulf War\nOEF', 'the Vietnam\nWar', 'World Health Organization', 'Operation Enduring Freedom\nOIF', 'the Civil\nWar', 'Hague Convention for the Protection of Cultural Property', 'the Thirty Years War', 'World War I and', 'Treaty Series', 'The American Revolution', 'Korean War', 'Waging War']

FAC ['Line 2', 'the Common\nRule', 'Candura\n1978\nRefusal', 'the Zhong Ma Castle', 'Milvian Bridge', 'Background', 'the Prolonged Field Care Setting', 'MacDill Air Force Base', 'Henderson Hall', 'the Presidential Palace, Port', 'Pearl Harbor', 'Ebolalike', 'PO Able', 'Role 1', 'the “Great Society”', 'the Corpus Hippocraticum', 'C-141', 'Role\nPhysiatrist\nBoard', 'Wit Stwosz Street', 'the Naval \nSpecial Warfare Command']

GPE ['Md:', 'Kalisch', 'Calif', 'pancytopenia', 'health….and', 'Newton', 'SOUTHCOM', 'Mathis JE', 'Ft Belvoir', 'Sydney', 'future39', 'Israel', 'Chile', 'typhomalaria', 'Tonghso', 'Pennsylvania', 'Washington, DC:', 'Normandy', 'the United States Armed Forces', 'Cannon']

LANGUAGE ['Taiwanese', 'Hebrew', 'French', 'stress35', 'English', 'Arabic', 'Spanish', 'Chinese', 'Filipino']

LAW ['the First Amendment', 'Article\n5', 'article 40', 'Article 6\nWounded', 'the ANA Code for Nurses', 'CHAPTER 12', 'Order 13139', 'the CIOMS Conference', 'CCW Protocol II', 'Article 134', 'The Universal Declaration of Human Rights', 'Article 10, 1977', 'Article 102', 'article 35', 'Article 27', 'Roe v Wade', 'Common Article 2 of the Geneva Conventions', 'the Limited Test Ban Treaty', 'Affordable Care Act', 'the “Quadruple Aim.']

LOC ['Alps', 'the Barbary Coast', 'information62', 'Outbreak', 'the Role 3', 'earth', 'Green', 'Fitzgerald AE', 'the Northwest Africa Strategic', 'South America', 'Platoon', 'the Persian Gulf\nWar', 'the Role 2', 'Potomac', 'Savo Island', 'the Pacific Islands', 'North Main Street', 'Matthews LJ', 'McChrystal', 'Biological']

MONEY ['millions of dollars', '220', '450 mL', '475 US 503', '10,000', 'hundreds of billions', '2) US Department', 'additional $150', 'D-238', '6) US Navy Bureau of Medicine', '$210 million', '12) Department of Defense', '5) US Navy', '702,000', '4', '276', '588 NE2d 1232', '100', '750,000', '4) US \n']

NORP ['Marine', 'Longmans', 'Vietnamese', 'Complex', 'Pyridostigmine', 'Protestants', 'Iliad', 'Bosnian', 'poles', 'WAPS', 'Venezuelan', 'Kimsey', 'Somalis', 'Hippke', 'Bliese', 'Pentagonists', 'Baliki', 'Christians', 'Prussians', 'Extremis']

ORDINAL ['1946–49', 'Third', '22nd', '35th', '14(pp199–211),63', '73rd', '18th', 'second', '85th', 'Second', 'fifth', 'Seventh', '5ml', 'DoD', 'First', '19th', '24th', 'Fifth', '28th', '12th']

ORG ['Plans/Recommendations', 'the Prehospital \nTrauma Life Support (PHTLS', 'Hickling EJ', 'Lecturer of Global Affairs', 'ANALYSIS', 'VETERANS’ HEALTHCARE ISSUES', 'The Family Journal', 'the Committee on Medical Research', 'the\nMedical Department of the Navy', 'ULTRA', 'the Nuremberg\nTribunal', 'Miller WL', 'Medical Department Standards of Nursing Practice', 'Kerr ST', 'NSN', 'Garfinkel L', 'Gottleib', 'the Draper Committee\nReport', 'us-israel.org/jsource/Holocaust/nurmlaw4.html', 'the World\nMedical Association']

PERCENT ['73%', '6%', '70 percent', '7 Dr Beecher', '47%', '76%', '14-8', '80 percent', 'the remaining 5%', '52%', '55%', 'as low as 30%', 'up to 10%', '03%', 'about 30%', 'nearly 75%', '6.', '77%', '50%', '90 SALT83']

PERSON ['1994;159(8):541–547', 'STEPHEN D. GIEBNER', 'Khyler', 'Roof WC', 'Mefloquine\nMefloquinesensitive', '• Crawling', 'Kim JS', 'Ramsey21(pp143–147,428–432', 'Adv \nNeuroimmunol', 'Rich NM', 'Taeger G', 'Mil Psychol', '21,22 Kennedy', 'Frankel H', 'Jay Johannigman', 'Timothy Sprunger', 'Sullivan KA', 'Marty Schreiber', 'McCart GM', 'Smith B.']

PRODUCT ['• \nImpaired', '•\nCourage', 'Un \nSouvenir de Solferino', 'the MACE 2', '•\n', 'FSW\nFeet', '• Ask', 'flashbacks', '•\nPeacekeeping', 'J Am Coll Surg', 'BW', 'DD1380 TCCC Card', '• \nPrevious', 'DIVAD', '1MAJ Schauer', '• \nOveruse', 'M-16', 'Appendix F', 'RCM 916(e', 'J6']

QUANTITY ['20 kg', '85 MMOs', '25-inch', '3 miles', '45 kg', '5 miles', '1mm', 'two foot', '1 miles', 'more than 25 kilograms', '3mm', 'between 160 km (99 miles', '179 Cal App', '40 tons', '2,438 m/8,000 ft above', '10 ml of', '100mg per minute', 'approximately 6 square kilometers', '3 mg', '20 IU/kg']

TIME ['9-11', '30 minutes', 'each minute', 'a couple of hours', 'about 4 hours ago', '1 minute', '80-hour', 'all hours of the day', '2004;108:17–27', 'up to 3 hours', '1 to 3 hours', 'approximately 12 hours', 'the same hour', '3 to 4 hours', '3:45', 'the first minute', '2-L', 'work hours', '1 Hour', '5-20 minutes']

WORK_OF_ART ['Understand the Impact of Religion and Culture\non Patient Autonomy\nReligious', 'Un Souvenir de Solférino', 'Medical Rules of Engagement', 'The Human Volunteer in Military\nBiomedical Research', 'Document Mental Status', 'Combat Stress \nDespite', 'Tactical Medicine\nTABLE', 'National Child Traumatic \nStress Network', 'MRAP', 'Demographics\nAge', 'Naval Ophthalmic Support and Training Activity', 'Additional Protocol I”)(June 8, 1977', 'The Principles of International War-Conduct Law', 'Lieutenant General\nKitano Masaji', 'Warning Before Attack \n ', 'The Brocade Banner: The Story of Japanese Nationalism', 'Nation Building After World War II', 'Doctor’s Trial', 'The Extreme Situation: Leaving the Wounded', 'Claims for Negligent Medical Care Provided Members of the Armed Forces']

In [14]:

words_list = sorted([str(w) for w in domain_doc_ners_df.nlp_type.unique()])
words_list = random.sample(words_list, min(len(words_list), 20))
print(words_list)
mask_series = domain_doc_ners_df.nlp_type.isin(words_list)
for type, type_df in domain_doc_ners_df[mask_series].groupby('nlp_type'):
    mask_series = type_df.nlp_word.isnull()
    texts_list = sorted(type_df[~mask_series].nlp_word.unique())
    print()
    print(type, random.sample(texts_list, min(len(texts_list), 20)))

['EVENT', 'PRODUCT', 'ORDINAL', 'ORG', 'FAC', 'LAW', 'GPE', '', 'DATE', 'MONEY', 'LANGUAGE', 'PERCENT', 'PERSON', 'nan', 'CARDINAL', 'LOC', 'WORK_OF_ART', 'QUANTITY', 'TIME', 'NORP']

 ['radiologic', 'issn/0026', 'scored', 'philosophically', '54,55', 'http://www.army.mil/cmh-pg/art/A&I/Vietnam/p_3_4_67.jpg', 'RHW', 'Shinseki', 'battlefront', 'CRITICAL', 'Upper', 'corn', 'POWs', 'jurisdictions', 'forced', 'Senior', 'dicentrics', 'FOLLOW', 'WOUNDS', 'exemption']

CARDINAL ['2006;2', '1968;78:269–279', '496', '1995;66(3):260–263', 'See', '358–389', "4'11", 'odd', '10(–5', '733', '2005;90(1):53–76', '2012;4(1):22', '380', '691', '1975;31(4):49–65', 'V1', '764', '1988;153(1):7–11', '2014;189(12):1479–1486', '1987;17:545–548']

DATE ['1854', 'old', '1932–45', '1650', 'MD', 'end', '1930s', '1990;20(3):19–22', 'Nineteenth', '1919', 'full', '3362', '47', '1885', 'generation', '2905', '46', 'era', 'wartime', 'Saturday']

EVENT ['FREEDOM', 'Humanitarian', 'K.', 'Lost', 'Marine', 'IRAQI', 'Detainees', 'Succession', '2021', 'Uphold', 'Harris', 'Regulation', 'Agreement', '17', 'A', 'COMBAT', 'on', 'Emergency', 'JE', 'CURRENT']

FAC ['Level', 'Zhong', 'Park', 'Criteria', 'Montefiore', 'Martens', 'The', 'Jiangxi', 'Dix', 'STS-4', 'Normal', 'Street', 'Commission', 'Bridge', 'NUREMBERG', 'Ft', 'O6', 'Perimeter', 'Chemical', 'TXA']

GPE ['Kanter,20', 'Yersinia', 'PT', 'IV', 'Wallingford', 'Fairfield', 'People', 'TL', 'Tissington', 'Disaster', 'Kansas', 'UNITED', 'Republic', 'India', 'Agade', 'DF', 'Edmonton', 'Warm', 'Tampa', 'SW']

LANGUAGE ['English', 'Arabic', 'Filipino', 'Hebrew', 'stress35', 'Chinese', 'Taiwanese', 'Spanish', 'French']

LAW ['2(4', 'Hostile', 'chapter', '119a', 'Information', 'Powers', 'Committees', '\n', 'Treaty', 'With', '10', 'III', 'Constitution', 'Epizootic', '........................................................................................................', 'MILITARY', '105', 'Second', '95', '46']

LOC ['Red', 'Willis', 'District', 'individuals2', 'Surgeon', 'Job', 'Specific', 'Armee', 'that', 'Elton', 'IO', 'Incident', 'common16', 'Edelstein', '2', 'Alps', 'Health', 'Veatch', 'FB', 'Middle']

MONEY ['Council', '90', '3,000', '300', 'mL', '106', '210', '3', 'Forces', 'D-238', '16', '276', '19', '15', '588', '24', '251', 'over', 'than', 'nearly']

NORP ['investigations87', 'Nonissue', 'Laotian', 'Pentagonists', 'poles', 'Civilian', 'Soviets', 'Stakeholders', 'WAPS', 'Map', 'Crimean', 'PHD†', 'Semitic', 'Aaronic', 'stages13', 'Ricin', 'Reese', '-Establish', 'Libyan', 'Continental']

ORDINAL ['47th', '9ml', '”2(p69', 'Third', 'First', '50ff', '50th', '5ml', 'Fourth', '11th', 'sixth', 'DoD', '4th', '84th', 'Secondary', 'third', 'Fifth', '8th', '73rd', '40th']

ORG ['Kluckhohn', 'Levie', ']', 'Otis', 'Blast', 'Medicine,29', 'DeVito', 'Arlington', 'Commonwealth', 'Occupation', 'Indefinite', 'Marchand', 'Lindsey', 'Grivetti', 'Man', 'Documentation', 'Avery', 'Politics', 'MDA', 'ESP']

PERCENT ['786', 'the', '70', '36', '79', '24', '55', 'Beecher', 'at', '28', '16', '80%–100', '15', '40', '03', '15%–20', '(', '97%–98', '100', 'F3d']

PERSON ['Bruton', 'Mulrine', 'Penguin', 'Castro', 'Linn', 'Watts', 'Integrity', 'II', 'Beneson', 'Eastham', 'Hood', 'Ringer', 'Amitani', 'Occidente', 'Hooper', 'Nindl', 'Candidate', 'Keith', 'Margaret', 'E4.T2']

PRODUCT ['Promise', 'Bikini', 'Threats', 'an', 'Triggered', 'Blackhawk', 'Demobilization', 'Sustainment', 'JF', 'nomogram', 'John', 'Bougie', 'Cushing', 'Protocol', 'Travax', '10', 'McVay', 'tularensis', 'S120', 'Survival']

QUANTITY ['5mL', '760', 'minute', '45', '15,000', '2g', 'inch', '2nd', 'day', '163', 'nearly', '25', 'kilometers', 'up', '800', 'mph', 'between', '5', 'ten', 'concussions']

TIME ['32:39', '21', '1991;1:96–104', 'AFJI', 'mm', 'rush', '58', 'Last', 'just', '2004;108:17–27', 'man', 'next', '7', '2010;24(1):48–59', '5', '4:28', 'only', 'last', 'This', 'hourly']

WORK_OF_ART ['Certain', 'NO', 'Biol', 'Dental', 'Insert', 'Romano', 'Preparing', '“', 'MRAP', 'Executive', 'Sensitive', 'Forcible', 'GOVERNMENT', 'Hour', 'TACTICAL', 'Resources', 'Physician', 'Ceftriaxone', 'Sanctioning', 'Asahi']


## Explore the tag and parts-of-speech columns

In [11]:

words_list = sorted([str(w) for w in domain_doc_ners_df.nlp_tag.unique()])
words_list = random.sample(words_list, min(len(words_list), 20))
print(words_list)
mask_series = domain_doc_ners_df.nlp_tag.isin(words_list)
for tag, tag_df in domain_doc_ners_df[mask_series].groupby('nlp_tag'):
    mask_series = tag_df.nlp_word.isnull()
    texts_list = sorted(tag_df[~mask_series].nlp_word.unique())
    print()
    print(tag, random.sample(texts_list, min(len(texts_list), 50)))

['nan', 'RBS', 'RBR', '.', 'JJ', 'VBZ', 'NN', ':', '``', 'VB', 'WP', 'VBG', '-RRB-', 'UH', '_SP', 'JJR', 'WP$', "''", 'PRP', 'JJS']

'' ['”3', '”13', '”19', '”13(p65', '”89', '”85', '”62(p82', "'", '”92', '”5', '”7(p78', '”12', '”42', '’', '”46', '”34', '”17(p47', '"', '‘', '”54', '”36', '”37', '”59(p49', '”62', '”4', '”24', '”34(p32', '”88', '”1', '\uf0a7', '“', '”7', '”64(p26', '”10', '”18,19', '”20(p19', '”71,72', '”26', '”2', '”', '”102(p149', '”64(p13', '”35', '”9', '”11', '”23,24', '”32', '’s', '”15(p43', '”8']

-RRB- ['…', ']', '•', '”34(Art23e', '}', ')', '):', '46,47']

. ['.....................................................................................................................', '”4(p448', '....................................................', '.........................................................................................', '................................................', '.....................................................................................................', '....................................................................................................................', '.....................................', '.........................................................................................................................', '...............................................', '...................................................................................', '.............................................................................................................................................................', 'd.', '.................................................................................................................', '”12(¶I', '........................................................................................', '...........................................................................................', '...................................................................................................................................................', '.”8(p67', '.....................................................................................................................................', '..................................................................................................', '..............................................................................................................................................', '...................................................................', '..............................................................................................................................................................', '............................................................................................', '...................................................................................................................', '..................................................................................................................................................', '..........................................................', '.............................................................................................................', '”36,37', '?', '................................................................................................', '............................................................', '.......................................................................', '\uf0b7', '..........................................................................................', '...........................................................................................................................................', '..............................................................................................', '”53(p17', '............................................................................................................................', '”1', '..................................................................................................................', '.........................................................................................................', 'to31(p682', '........................................................................................................', '.............................................', '..........................................................................................................................', '”30', '................................................................................................................................', '..........................................................................................................................................']

: ['.............................................................................', '-Any', '...............', '-4', '-If', '.......................................................................', '.....................................................................................................................', '=', '.................................', '..............................................................................', '.The', '[that', '#', '........................................................', '—', '...', '.........................................................................................................', '...............................................................................................', ':D', '.................', '--', '................................................................', '*', '…', '[then', '-5', 'recently,1–8', '):', '/', '×', '..........................................', '-', '...................................................................................................', '.Now', '.........', '........................................................................................', '-The', ':]', '............', '...................................................................', '.................................................................................', '............................................................................................', '-3', ';', '-O2', '............................', ']', '-One', '-Air', '..........']

JJ ['actual', 'noisy', 'calm', 'minor', 'ndms', 'econdary', 'Suitable', 'uncommon', 'infirm', 'pneumatic', 'otherMilitary', 'Philippine', 'severe', 'reportable', '82nd', 'sedative', 'Cultural', 'shocked', 'centralized', 'electronic', '30th', 'determinative', 'expert', 'nutrient', 'lucrative', 'knowable', 'loose', 'shortened', 'motionless', 'resolvable', 'worldwide', 'variable', 'tight', 'republican', 'lay', 'legal', 'southwest', 'Assistive', 'advantaged', 'visceral', 'Exotic', 'analytical', 'Muscular', 'tender', 'platelet', 'ondansetron', 'supervisory', 'clandestine', 'corollary', 'neurosurgical']

JJR ['healthier', 'thicker', 'electrolyte', 'richer', 'Better', 'closer', 'easier', 'Higher', 'freer', 'brancardier', 'lesser', 'wider', 'shallower', 'https://', 'further', 'cooler', 'hearsay', 'Greater', 'Lesser', 'harder', 'LESS', 'II),25', 'shorter', 'deeper', 'fsw', 'aider', 'colder', 'slower', 'worse', '20,23', 'https://en.wikipedia.org/w/index.php?title=Tactical_Combat_Casualty_Care&oldid=1181962148', 'unsrer', 'stronger', 'Longer', 'broader', 'sharper', 'safer', '71(1', 'better', 'Less', 'poorer', 'MORE', 'clearer', 'lower', 'Younger', 'younger', 'mL', 'lighter', 'greater', 'weaker']

JJS ['oldest', 'freshest', 'latest', 'finest', 'highest', 'best', 'deepest', 'longest', 'http://www.fda.gov/', 'toughest', 'greatest', 'Most', 'earliest', 'closest', 'Best', 'strongest', 'fastest', 'least', 'healthiest', 'vest', 'Worst', 'lowest', 're247', 'smallest', 'simplest', 'heaviest', 'shortest', 'Highest', '•', 'largest', 'strictest', 'rarest', 'safest', 'youngest', 'brightest', 'newest', 'electrolyte', 'direst', 'purest', 'fullest', 'causative', 'clearest', 'biggest', 'gravest', 'worst', 'postarrest', 'fittest', 'syphilis', 'easiest', '):']

NN ['ambulance', 'rigging', '45,46', 'road', 'retrograde', 'ravine', 'insurgency', 'scuba', 'conduction', 'https://jts.amedd.army.mil/assets/docs/cpgs/Traumatic_Brain_Injury_PFC_06_Dec_2017_ID63.pdf', 'contribute', 'drunkenness', '”66', 'Childbirth', 'lane', 'obsolescence', 'ultrasound', 'cath', 'swimmer', 'defense', 'stamp', 'lobbying', 'noncontrast', 'Part', 'integrating', 'arrayal', 'intent', 'Prohibition', '28th', 'Postexposure', 'skull', 'Removal', 'chill', 'facility', 'thrive', 'clearinghouse', 'hypovolemia', 'yoga', 'Masculinity', 'hand', 'life-', 'register', 'mobilization', 'engagement', 'weariness', 'migratory', 'tomography', 'medwatch.aspx', 'Observe', 'commendation']

PRP ['himself', 'i', 'We', 'Me', 'Themselves', 'him', 'barotrauma', 'He', ']', 'us', 'herself', 'they', 'myself', 'tasks13(p136', 'ourselves', 'YOU', 'Itself', 'One', 'them', 'α', 'one', 'yourself', 'They', 'estimate7(p178,n5)—they', 'I', 'HAZARDS', 'mine', 'he', 'IT', 'we', 'em', 'actigraph', 'ours', 'PVOs', 'themselves', 'Himself', 'Him', 'oneself', 'itself', '=', 'her', 'it', 'she', 'me', 'She', 'You', 'you', 'Dax', 'n’t', '’s']

RBR ['Earlier', 'More', 'closer', 'longer', 'harder', 'higher', 'further', 'worse', 'ipso', 'better', 'https://', 'later', 'more', 'farther', 'sooner', 'lower', 'Later', 'faster', 'Better', 'earlier', 'multiplier', 'less', 'Less']

RBS ['Best', 'best', 'highest', 'most', 'https://www.defense.gov/News/Special-Reports/1012_biosurveillance/.', '•', 'least', 'Most']

UH ['en', 'tag', 'Hg', 'well', 'Drs', 'os', 'Yes', 'Cc', '%', 'T]hose', 'Hey', 'right', '49,95–97', 'No', 'yes', 'quote', 'O', '-', 'n%20the%20Battlefield%20J%20Trauma%202012.pdf', 'Um', '-Chin', 'Right', 'Administer', 'please', 'Pike', 'doe', 'okay', 'Ay', 'mm', 'Oh', 'hey', 'UH', 'Well', 'say', 'no', 'ha', 'ah', 'Please', 'YES', 'like']

VB ['honor', 'precipitate', 'inspire', 'sit', 'camouflage', 'bide', 'sponsor', 'fail11', 'Hisahiko', 'imbue', 'denigrate', 'exterminate', 'misuse', 'cherish', 'relax', 'recommend', 'grapple', 'ingest', 'escort', 'fare', 'defy', 'fusionism', 'Synchronize', 'account', 'elucidate', 'mandate', 'rot', 'lure', 'acquaint', 'relegate', 'complete', 'Integrate', 'return', 'urinate', 'curer', 'myriad', 'feel', 'curtail', 'plan', 'bear', 'count', 'mislead', 'lethal', 'wend', 'recall', 'alternate', 'execute', 'substantiate', 'postpone', 'regulate']

VBG ['traversing', 'alizing', 'handling', 'Meeting', 'rollerblading', 'violating', 'Anticipating', 'managing', 'consuming', 'dividing', 'letting', 'knowing', 'abusing', 'saluting', 'including', 'rushing', 'Sharing', 'slackening', 'GATHERING', 'interacting', 'theorizing', 'contributing', 'being', 'FEIGNING', 'accumulating', 'Stepping', 'reproducing', 'Advancing', 'escalating', 'orchestrating', 'depolarizing', 'approving', 'Countering', 'addressing', 'casualtyproducing', 'baffling', 'caregiving', 'developing', 'paving', 'linking', 'inciting', 'Managing', 'attending', 'converting', 'characterizing', 'maiming', 'disrupting', 'insulating', 'dedicating', 'succeeding']

VBZ ['specifies', 'fabricates', 'points', 'disposes', 'precedes', 'emphasizes', 'censures', 'blames', 'harms', 'dovetails', 'associates', 'CHALLENGES', 'skills', 'owns', 'environments', 'symptoms', 'revolves', 'physicians', 'APPLIES', 'costs', 'transmits', 'approves', 'turns', 'measures', 'overlooks', 'procures', 'accommodates', 'saves', 'becomes', 'hallways', 'exposures', 'normalizes', 'axioms', 'crosses', 'fractures', 'obliges', 'undergirds', 'noncombatants', 'vehicles', 'Plans', 'begins', 'wipes', 'briefs', 'realizes', 'USAF', 'conforms', 'declines', 'accomplishes', 'visits', 'activates']

WP ['WHAT', 'WHO', 'whoever', 'Who', 'what', 'who', 'What', 'whom']

WP$ ['whose', 'Whose']

_SP ['\n \n \n \n \n \n \n \n ', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', 'vehicle.[2', '\n \n ', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', '\n\n \n \n', '\xa0\n ', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', '\n\n\n\n\n', '\n \n \n ', '\n\n', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', '\n \n \n', '\n ', '\xa0', '\xa0\n', '\n \n \n \n', '\n \n \n \n \n \n \n', '\n \n \n \n \n \n', '\u2003\n', '\n \n', '\n \n\n\n', '\n \n \n \n \n', '\n\n \n \n\n\n', '\u2002 ', '\n', '\n\n\n']

`` ['‘', '“', 'http://www.biol.tsukuba.ac.jp/~macer/index.html', '”', '…', '"']

In [12]:

words_list = sorted([str(w) for w in domain_doc_ners_df.nlp_pofs.unique()])
words_list = random.sample(words_list, min(len(words_list), 20))
print(words_list)
mask_series = domain_doc_ners_df.nlp_pofs.isin(words_list)
for pofs, pofs_df in domain_doc_ners_df[mask_series].groupby('nlp_pofs'):
    mask_series = pofs_df.nlp_word.isnull()
    texts_list = sorted(pofs_df[~mask_series].nlp_word.unique())
    print()
    print(pofs, random.sample(texts_list, min(len(texts_list), 20)))

['NUM', 'SCONJ', 'X', 'PART', 'VERB', 'NOUN', 'INTJ', 'ADV', 'nan', 'PUNCT', 'PROPN', 'AUX', 'SPACE', 'SYM', 'DET', 'ADJ', 'PRON', 'CCONJ', 'ADP']

ADJ ['Discontinue', 'true', 'combatcapable', 'rocky', 'advanced', 'Russian', 'untenable', 'wholesome', 'painful', 'derive', 'Frequent', 'liquid', 'µg', 'ineradicable', 'Coalition', 'inconsistent', 'absolute', 'unsure', 'irreversible', 'succinct']

ADP ['throughout', 'Up', 'https://', 'Around', 'After', 'notwithstanding', 'With', 'irregulâr', '1933–1945', 'Into', 'v.', 'out', 'DURING', 'vs.', 'for', 'volvulus', 'Between', 'underneath', 'ta', 'at']

ADV ['beforehand', 'perbronchially', 'externally', 'Widely', 'than', 'easily', 'out', 'well', 'solemnly', 'comparably', 'unusually', '+', 'attitudes,25', 'Fundamentally', 'aptly', 'invariably', 'back', 'subsequently', 'closely', 'incredibly']

AUX ['”41', 'got', 'uses', 'See', 'becoming', 'Has', 'Spurting', 'would', 'remain', 'had', '’ve', 'Ca', 'aches', 'Can', 'deploym', 'see', 'did', 'became', '69,70', 'EXHIBIT']

CCONJ ['OR', 'nor', 'vs.', 'minus', 'Nor', 'plus', '”62', 'so', 'Neither', 'either', 'Yet', 'mg', 'or', 'But', 'gland', '&', 'Mid-', 'below)—but', 'AND', 'And']

DET ['All', 'An', 'fl', 'right”—the', 'such', 'Those', 'Which', 'the', 'Either', 'each', 'many', 'Such', 'Some', 'THE', 'done?—the', 'which', 'https://jts.amedd.army.mil/assets/docs/forms/MASCAL_Form_Instructions.pdf', 'twice', 'principlism”—the', 'NO']

INTJ ['Yes', 'Pike', 'please', 'yes', 'quote', 'like', 'T]hose', 'os', 'hey', 'Right', 'ha', 'O', '49,95–97', 'Well', 'YES', '-Chin', 'Ay', 'mm', 'tag', 'Administer']

NOUN ['Socialization', 'Number', 'booby', 'Battalion', 'servicepersons', 'carve', 'extend', 'orbits', 'Source', 'sigh', 'steps', 'Bowers', 'Mechanism', 'bows', 'obligation', 'record', 'Yard', 'thereof', 'client', 'Assessments']

NUM ['87', '793', '1813', '1881', '1890', '767', '1953;6:179', '2004;351:2471', '335', '10/10', '800mcg', '13', '2015;29(3):19–26', 'civilMilitary', '1000', 'Six', 'Thirty', '2014;179(3):324–328', '2007;172(9):907–911', '2001;138:410–418']

PART ['s', 'to', 'To', "'s", 'na', '‘', 'Not', 'not', '’S', 'nt', 'µg', 'NOT', '=', "'S", '*', '’', 'TO', '’s', '\uf0a7', 'n’t']

PRON ['all', 'Her', 'whom', 'YOUR', 'his', 'THE', 'Both', 'him', 'everything', 'its', 'em', 'each', 'midazolam', 'MY', 'Anything', 'THEIR', 'Which', 'Those', 'Another', '”94(p56']

PROPN ['Interviewing', 'Foster', 'Masami', 'hyperbaric', 'DCoE', 'DS', 'Q', 'Ginde', 'Arkansas', 'Blockers', 'http://emacweb.org/index.php/learn-about-emac/what-is-emac', 'Documentation', 'Ingraham', 'Vulnerability', 'Rechts-', 'Interdisciplinary', 'Populated', 'Kolmer', 'Wedmore', 'Presumptive']

PUNCT ['”20(p20', 'd.', '”46', '”2', '–', '........................................................................................................................', '(', 'Health,', '3,45', '.........................................................................', '-%20June%202015%20Updated%20Dec%202016.pdf?ver=2016', '2014;17:366–371', '”30', '...............................................................................................................................................', '…', '”10', '.....................................................................................................', '”37', '.........', '.............................................................................................................']

SCONJ ['Though', 'Because', 'Despite', 'whereby', 'because', 'why', 'HOW', 'IF', 'If', 'Since', 'How', 'when', 'where', 'a]lthough', 'since', 'Once', 'Within', 'after', 'till', 'albeit']

SPACE ['\n \n \n', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', '\xa0\n ', '\n\n\n', '\n\n \n \n\n\n', '\n', '\n \n \n \n \n \n', '\n ', '\n\n \n \n', '\n \n \n \n \n \n \n', '\u2003\n', '\n \n \n \n \n \n \n \n ', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', '\n\n\n\n\n', '\u2002 ', '\n \n \n \n', '\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n', '\n \n \n \n \n', '\xa0']

SYM ['.', '$', 'mL', 'x', '?', '#', '…', '=', '-', 'www.militarychild.org', 'May–25', '/', '/reports', '•', '.[This', '\uf0a7', '>', ':', '*', '/-']

VERB ['Dubbed', 'bolstered', 'condensed', 'differentiated', 'intrigued', 'speak', 'divert', 'checking', 'Needed', 'Commanded', 'outlawing', 'peer', 'broke', 'postpone', 'accentuate', 'plug', 'minded', 'cover', 'itemized', 'suit']

X ['34', '4(pp41–42', '74(pp162,180–181', 'DoD', '94(pp51–54', 'AtomicArchive.com', 'population,13,14', 'a]ny', '”6(pp7–8', '2005;3:53', 'v', '2000;35:82–87', '17(p21', '2(p724', '”27(p181', 'http://telemedicine.wramc.amedd.army.mil/', '18(p2', '15(p154', '40(pp17–18', '2007;12(1):34–47']


## Explore the entity column

In [25]:

words_list = sorted([str(w) for w in domain_doc_ners_df.bert_entity.unique()])
words_list = random.sample(words_list, min(len(words_list), 20))
print(words_list)
mask_series = domain_doc_ners_df.bert_entity.isin(words_list)
for entity, entity_df in domain_doc_ners_df[mask_series].groupby('bert_entity'):
    mask_series = entity_df.bert_word.isnull()
    texts_list = sorted(entity_df[~mask_series].bert_word.unique())
    print()
    print(entity, random.sample(texts_list, min(len(texts_list), 50)))

['I-LOC', 'nan', 'I-ORG', 'I-PER', 'I-MISC']

I-LOC ['t', 'Detrick', 'cChord', 'Towson', 'States', 'Iraq', 'Springs', 'China', 'Afghanistan', 'South', 'Geneva', 'Campanile', 'Center', 'Florida', 'Connecticut', 'Marine', 'Hurlburt', 'Asia', 'and', 'line', 'Chicago', 'Tennessee', 'Lackland', 'man', 'worth', 'S', 'Leyte', 'Andrews', 'Montefiore', 'Maryland', 'Einstein', 'Hebert', 'West', 'Haven', 'Durham', 'Vincent', 'EUTHANASIALE', 'Philippines', 'Mogadishu', 'Spring', 'Hospital', 'Glen', 'Delaware', 'Kingdom', 'pan', 'France', 'Germany', 'Arizona', 'Room', 'Silver']

I-MISC ['Experiment', 'Armed', 'Sun', 'Human', 'Aristotle', 'Doctrine', 's', 'SICIGI', 'ETUMAN', '21st', 'alis', 'LA', 'Remembrance', 'Persian', 'L', 'Roman', 'Biological', 'lines', '19th', 'Occied', 'Da', 'Doc', 'North', 'Ethics', 'mmde', 'erilization', 'NAZI', 'RAUM', 'Immunode', 'LAN', 'LNL', 'The', 'Confederate', 'Ra', 'A', 'Geneva', 'mitatus', 'Medical', 'Decision', 'Desert', 'Great', 'Just', 'VILDID', 'NE', 'HUMAN', 'With', 'um', 'APAN', 'ATA', 'Islam']

I-ORG ['oT', 'N', 'geon', 'TI', 'Ethics', 'Uniformed', 'stain', 'Science', 'enario', 'Collection', 'CP', 'C', 'Yale', 'Luke', 'Chemical', 'SCHWARTZNI', 'UNIVERS', ',', 'Fellowship', 'Ms', 'sight', 'Harris', 'uoyancy', 'Branch', 'Sciences', 'Warfare', 'Normandy', 'Disaster', 'LLSIUMR', 'L', 'NNY', 'PYLAX', 'R', 'the', 'UN', 'Uniform', 'Maryland', 'Wissenschaftsgeschichte', 'EHALUWASEYI', 'TCCC', 'WarfareUM', 'AMIE', 'TORRISI', 'Pentagon', 'JD', 'EXIBITL', 'Combat', 'Tumatic', 'eutral', 'Metor']

I-PER ['MBS', 'MARK', 'HARS', 'Scott', 'rook', 'LUNASCOUMAN', 'THAS', 'Twillige', 'James', 'SCHEURING', 'NEIL', 'Drew', 'man', 'MULLNRAD', 'TOY', 'RICRD', 'Savell', 'Varisano', 'arisano', 'BEAM', 'Mosely', 'OR', 'CHETAN', 'Daniel', 'Hammond', 'MICHAEL', 'McBarron', 'BALKINLGI', 'ANGELA', 'Don', 'ARNELL', 'ARVEY', 'UPCHAK', 'Shelia', 'LANLOKUN', 'OWE', 'PATRICIA', 'OPRESTI', 'Early', 'GELA', 'SHACKELFD', 'Montgomery', 'rrey', 'ERESA', 'Robert', 'Franklin', 'RASCONA', 'Peter', 'ISAIAH', 'gle']


## Explore column groupbys

In [16]:

for file_path, file_path_df in domain_doc_ners_df.groupby('file_path'):
    print(file_path)
    display(file_path_df.sample(4).dropna(axis='columns', how='all').T)
    break

../data/Domain_Knowledge/Fundamentals of Military Medicine/Fund ch 1.txt

,89871,90227,95310,94584
file_path,../data/Domain_Knowledge/Fundamentals of Milit...,../data/Domain_Knowledge/Fundamentals of Milit...,../data/Domain_Knowledge/Fundamentals of Milit...,../data/Domain_Knowledge/Fundamentals of Milit...
nlp_word,an,a,",",units
nlp_tag,DT,DT,",",NNS
nlp_type,,,,
nlp_pofs,DET,DET,PUNCT,NOUN

In [17]:

for nlp_tag, nlp_tag_df in domain_doc_ners_df.groupby('nlp_tag'):
    print(nlp_tag)
    display(nlp_tag_df.sample(4).dropna(axis='columns', how='all').T)
    break

$

,1057944,1018594,1280591,1280584
file_path,../data/Domain_Knowledge/Military Medical Ethi...,../data/Domain_Knowledge/Military Medical Ethi...,../data/Domain_Knowledge/Military Medical Ethi...,../data/Domain_Knowledge/Military Medical Ethi...
nlp_word,$,$,•,•
nlp_tag,$,$,$,$
nlp_type,,MONEY,PRODUCT,PRODUCT
nlp_pofs,SYM,SYM,SYM,SYM

In [26]:

from itertools import combinations

columns_list = [cn for cn in domain_doc_ners_df.columns if cn.startswith('bert_')]
for groupby_columns in combinations(columns_list, 2):
    groupby_columns = list(groupby_columns)
    df = nu.get_minority_combinations(domain_doc_ners_df, groupby_columns).dropna(axis='columns', how='all')
    if df.shape[0]:
        print(nu.conjunctify_nouns(groupby_columns))
        df.file_path = df.file_path.map(lambda x: str(x).split('/')[-1])
        display(df)

bert_word and bert_entity

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
311771,MEESEL,I-ORG,0.565598,172.0,371.0,Fund ch 3.txt
427113,OLYTRAUMA,I-ORG,0.824845,232.0,241.0,Fund ch 36.txt
828641,OMINICK,I-PER,0.836177,717.0,724.0,Ethics-ch-11.txt
542462,ONAT,I-ORG,0.579091,79.0,83.0,Fund ch 7.txt

bert_word and bert_score

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
481847,&,I-ORG,0.904070,476.0,487.0,Fund ch 4.txt
1294854,Sciences,I-ORG,0.953635,882.0,902.0,Ethics-ch-26.txt
807603,Sciences,I-ORG,0.955297,244.0,269.0,Ethics-ch-10.txt
213496,Sciences,I-ORG,0.968651,699.0,713.0,Fund ch 21.txt

bert_word and bert_start

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
481847,&,I-ORG,0.904070,476.0,487.0,Fund ch 4.txt
120606,Sciences,I-ORG,0.625684,1033.0,1047.0,Fund ch 12.txt
862723,Sciences,I-ORG,0.898472,1068.0,1088.0,Ethics-ch-12.txt
109083,Sciences,I-ORG,0.952303,1071.0,1085.0,Fund ch 11.txt

bert_word and bert_end

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
481847,&,I-ORG,0.904070,476.0,487.0,Fund ch 4.txt
1311682,Sciences,I-ORG,0.923410,1016.0,1036.0,Ethics-ch-27.txt
299962,Sciences,I-ORG,0.860803,1023.0,1037.0,Fund ch 29.txt
120606,Sciences,I-ORG,0.625684,1033.0,1047.0,Fund ch 12.txt

bert_entity and bert_score

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
1294842,Room,I-LOC,0.374644,594.0,604.0,Ethics-ch-26.txt
495184,H,I-ORG,0.970456,138.0,148.0,Fund ch 40.txt
573136,University,I-ORG,0.970490,466.0,479.0,Fund ch 9.txt
223549,University,I-ORG,0.970550,842.0,855.0,Fund ch 22.txt

bert_entity and bert_start

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
38723,Pass,I-LOC,0.767956,52.0,59.0,SchauerMedicBag.txt
262026,for,I-ORG,0.966432,956.0,968.0,Fund ch 25.txt
284233,Emergency,I-ORG,0.990785,955.0,973.0,Fund ch 27.txt
1324236,Department,I-ORG,0.998094,954.0,967.0,3-84-D11-LEGAL-ROE.txt

bert_entity and bert_end

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
38723,Pass,I-LOC,0.767956,52.0,59.0,SchauerMedicBag.txt
223557,iformed,I-ORG,0.989640,979.0,986.0,Fund ch 22.txt
275639,Program,I-ORG,0.825875,974.0,985.0,Fund ch 26.txt
1311679,iformed,I-ORG,0.980799,974.0,981.0,Ethics-ch-27.txt

bert_score and bert_start

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
862730,ggs,I-ORG,0.310521,1266.0,1382.0,Ethics-ch-12.txt
1153027,agency,I-ORG,0.980444,587.0,593.0,Ethics-ch-20.txt
542481,Medical,I-ORG,0.980487,592.0,610.0,Fund ch 7.txt
284234,Uniformed,I-ORG,0.980573,975.0,984.0,Fund ch 27.txt

bert_score and bert_end

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
862730,ggs,I-ORG,0.310521,1266.0,1382.0,Ethics-ch-12.txt
1153027,agency,I-ORG,0.980444,587.0,593.0,Ethics-ch-20.txt
542481,Medical,I-ORG,0.980487,592.0,610.0,Fund ch 7.txt
284234,Uniformed,I-ORG,0.980573,975.0,984.0,Fund ch 27.txt

bert_start and bert_end

,bert_word,bert_entity,bert_score,bert_start,bert_end,file_path
43781,TCCC,I-ORG,0.975280,0.0,4.0,Tactical_Combat_Casualty_Care.txt
204181,Community,I-ORG,0.708247,1031.0,1049.0,Fund ch 20.txt
83930,AMERICAN,I-MISC,0.987863,1032.0,1040.0,Fund ch 1.txt
99174,Military,I-MISC,0.786213,1032.0,1049.0,Fund ch 10.txt